<p>patient works!</p>
{{patientInformation}}



<table style="width: 700px; margin: 30px auto; text-align: center;" class="table table-light">
    <tr>
    

    
    <th>Patient Id</th>
    

    
    <th>First Name</th>
    
    
    <th>Last Name</th>
    
    <th DOB></th> 
    <th>Gender</th>    
    <th>Note</th>
    
    </tr>
    <tbody>
    
    <tr>
    
    <td>{{patientInformation.patientId}}</td>
    
    <td>{{patientInformation.firstName}}</td>
    
    <td>{{patientInformation.lastName}}</td>
    
    <td>{{patientInformation.dob}}</td>
    
    <td>{{patientInformation.gender}}</td>
    
    <td>{{patientInformation.note}}</td>
    </tr>
    </tbody> 
    </table>