<nav class="navbar bg-primary">
    <div class="container-fluid">
      <!-- <a class="navbar-brand text-light">
        Flipkart
      </a> -->
      <strong style="font-size:30px;" class="text-light">Flipkart</strong>
      <form class="d-flex " role="search">
        <input class="form-control  me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light text-light lg" type="submit">Search</button>
        <i class="fa-solid fa-magnifying-glass mt-3 mx-2"></i>
    </form>
    <i class="fa-solid fa-cart-shopping text-light"></i>

      
    </div>
  </nav>